.container {
  min-height: 100vh;
  background-color: lightsteelblue;
  /* width: 90%; */
  /* margin: 0 auto; */
}

.title {
  font-size: 3rem;
  color: #333;
  text-align: center;
  margin-bottom: 3rem;
}