.container {
  min-height: 100vh;
  background-color: lightsteelblue;
  /* width: 90%; */
  /* margin: 0 auto; */
}

.link {
  color: #003366;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.active {
  color: #003366;
  text-decoration: underline;

}

.title {
  font-size: 3rem;
  color: #003366;
  text-align: center;
  margin-bottom: 3rem;
}